form{
	color: white;
	min-width:1000px;
	max-width:1001px;
	margin:auto;
}
h1{
	color: white;
	text-align: center;
}
input{
	margin: 1px;
}
#submit
{
  padding:3px 5px;
}
.title{
	width: 85%;
	height:30%;
}
fieldset{
	padding-top:24px;
	min-width:1000px;
	max-width:1001px;
	height:75px;
}
.buttoff{
	background-image: radial-gradient(white, red 75%, darkred);
	font-weight: bold;
	color: white;
}
#return{
	margin-left: 48%;
}
#logo{
	cursor: pointer;
}