@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    /*For IE*/
  #overlay {
    display:none;
    margin-left:42.20%;
    margin-top:15%;
    max-width:300px;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    width: 100%;
    height: 100%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  /*For Chrome*/
  #overlay {
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    width: 100%;
    height: 100%;
  }
}

html
{
  color: #e21f1f;
}
input[type = "text"]{
  /*some css for the text input*/
  height: 20px;
  border-radius: 0%;
}
select {
  width: 40px;
  height: 24px;
  font-size: 1.2em;
  background-color: black;
  color: red;
}

.title
{
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
  background-image: linear-gradient(black,#3E3939,black);
  padding-right: 5px;
  padding-left: 5px;
  border-width: 30px;
  border-radius: 5%;
  margin-top: 10px;
}

.button_choice
{
  /*css for button choice*/
  display: inline-block;
  border-radius: 50px 50px 0px 0px;
  width: 15%;
  min-width: 130px;
  height: 40px;
  font-size: 1.4em;
  color: lightgrey;
  border-top: 2px solid #971100;
  border-right: 2px solid #FA2E14;
  border-bottom: 2px solid #FA2E14;
  border-left: 2px solid #971100;
  background-image: linear-gradient(#550606,#8B0B0B,#C90F0F,#8B0B0B,#550606);
}
.answer {
  /*css for answer*/
  display: inline-block;
  width: 15%;
  padding: 0;
  min-width: 130px;
  height: 30px;
  color: lightgrey;
  border-width: 0px;
  background-image: linear-gradient(#550606,#8B0B0B,#C90F0F,#8B0B0B,#550606);
  border-radius: 5px;
}
.click:active {
  /*css for active click objects*/
  background-image: linear-gradient(#BB0303,#650404,#2E0303,#650404,#BB0303);
  color: white;
}
.button_choice:hover 
{
  /*css for hovering over any button_choice elements*/
  border-top: 2px solid #FA2E14;
  border-right: 2px solid #971100;
  border-bottom: 2px solid #971100;
  border-left: 2px solid #FA2E14;
  background-image: linear-gradient(#BB0303,#650404,#2E0303,#650404,#BB0303);
  color: white;
}
.bold{
    /*generic class to make stuff bold*/
    font-weight: bold;
}

.italic{
    /*generic class to make stuff italic*/
    font-style: italic;
}
.underline{
    /*generic class to make stuff underlined*/
    text-decoration: underline;
}
.color{
    /*makes stuff red*/
    color: red;
}
.tab {
  /*generic tabbing*/
  margin-left: 20px;
  display: block;
}

.in_div {
  /*css for within a div*/
  padding:5%;
  width:95%;
  height:95%;
  margin-left: 2%;
  margin-right: 2%;
  margin: 0;
}
.space_top {
  /*some space for the top*/
  margin-top: 20px;
}

.set_left {
  /*throw stuff to the left*/
  margin-left: 20%;
  text-align: left;
}

.display_frame {
  /*css for display_frame*/
  width: 50%;
  height: 150px;
  padding: 10px;
  border: 10px solid black;
  margin: 10px;
  display: inline-block;
  background-color: white;
}
.info {
  /*css for info objects*/
  background-color: black;
  font-weight: bold;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}
.number {
  /*css for number objects*/
  display: inline-block;
  background-color: black;
  font-weight: bold;
  font-size: 1.2em;
  padding: 3px;
}

.parental {
  /*css for parental objects*/
  display: inline-block;
  width:30%;
  
}

#addForm
{
  /*css for addForm*/
  background-color:rgba(255, 255, 255, 0.7);;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
#tutorial
{
  /*height for tutorial*/
  height: 20px;
}

#question_input
{
  /*css for question input*/
  height: 20px;
  border-radius: 0%;
  min-width: 160px;
  width: 50%;
}
#answer_input_short {
  /*css for short answers*/
  min-width: 120px;
  width: 52%;
}
.multi_input {
  /*css for multiple inputs*/
  min-width: 160px;
  width: 44%;
}

#buttonz
{
  /*css for buttonz*/
  display: block;
  margin-top: 50px;
}
#save
{
  /*css for saving the tutorial*/
  width:200px;
  height: 100%;
  display: inline-block;
  color: lightgrey;
  border-top: 2px solid #971100;
  border-right: 2px solid #FA2E14;
  border-bottom: 2px solid #FA2E14;
  border-left: 2px solid #971100;
  background-image: linear-gradient(#550606,#8B0B0B,#C90F0F,#8B0B0B,#550606);
  font-size: 3em;
  border-radius: 30%;
}
#save:active
{
  /*css for when save is active*/
  padding-left: 10px;
  padding-right: 10px;
  border-top: 2px solid #FA2E14;
  border-right: 2px solid #971100;
  border-bottom: 2px solid #971100;
  border-left: 2px solid #FA2E14;
  background-image: linear-gradient(#BB0303,#650404,#2E0303,#650404,#BB0303);
  color: white;
}

#tutorial_creator
{
  /*css for tutorial creation*/
  min-height: 260px;
  border: thick double black;
  margin-bottom: 30px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0;
  margin-top: 0px;
}
#spacer {
  /*css for a generic spacer*/
  margin-bottom: 70px;
}
#tutorial_page
{
  /*css for the tutorial page*/
  min-width: 80%;
  min-height: 10px;;
  max-width: 95%;
  color: black;  
}
#padding_extra
{
  /*extra padding*/
  margin-bottom: 100px;
  height: 5px;
}
#bbutton
{
  /*css for bbutton*/
  border-style: outset;
}
#edit_tutorial_text
{
  /*css for when editing the tutorial*/
  min-width: 80%;
  min-height: 50%;
  max-width: 95%;
  color: black;
  min-height: 50%;
  max-height: 60%;
  height: 400px;
}
#outer_div
{
  /*css for outer div*/
  background-color: white;
  min-height: 500px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
put_div{
  
}
*/
#content
{
  /*justify content*/
  text-align: justify;
}

#outputter {
  /*css for output*/
  word-wrap: break-word;
  color: black;
  text-align: left;
  display: block;
  margin-left:5%;
  margin-right: 5%;
  
}

#out_div {
  /*css for outer div*/
  margin-top: 20px;
  background-color:rgba(255, 255, 255, 0.8);
  display: block;
  border: thick double black;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 40px;
  text-align: left;
  margin-bottom: 10px;
}

#put_div {
  /*css for put_div*/
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

#preview_look_good {
  /*css for the preview*/
  background-color: rgba(255,255,255,1); /* Black background with opacity */
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}
#para_preview {
  /*css for para_preview*/
  width: 100%;
  height: 10%;
  margin: 0;
  text-align: center;
  font-size: 3.0em;
  padding-top: 2%;
  font-weight: bold;
  text-decoration: underline;
}

#file {
  /*change font for file*/
  font-weight: bolder;
  font-size: 1.1em
}

#final_words {
  /*css for final words*/
  background-color: none;
  font-weight: bold;
  color: black;
  width: 500px;
  height: 100%;
  text-align: center;
  font-size: 1.3em;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}

#tutor_out {
  /*css for tutor_out*/
  min-height: 200px;
  border: thick double black;
  margin-bottom: 30px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0;
  margin-top: 0px;
}

#showanswer {
  /*css for showing the answer*/
  display: none;
  width: 100%;
  min-height: 20px;
}

#showanswer1 {
  /*css for showing the first answer*/
  display: none;
  width: 100%;
  min-height: 20px;
}

#create_ques {
  /*padding when creating questions*/
  padding-top: 5px;
  padding-bottom: 20px;
}

#ques_submit {
  /*css for submitting questions*/
  display: block;
  margin-left: auto; 
  margin-right: 5%;
  width: 180px;
  height: 50px;
  border-radius: 5px;
}
#answer_text {
  /*css for the answer text*/
  margin-bottom:  0;
  display: block;
  margin-left: 13%;
  text-align: center;
  width: 115px;
}

#title_name
{
  /*css for title_name*/
  background-color:rgba(128, 128, 128, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-top: 3%;
  width: 88%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: right;
  display: table;
}
