div#body
{
  width:100%;
  margin:5% auto 0 auto;  /*to center everything*/
}

div#container
{
  margin:auto; /*Center entire container with all three*/
  /*Make sure container*/
  width:72%;
  height:65%;
}

.option
{
  /*Each individual option*/
  width:20%;
  margin-left:10%;  /*pad left and center all three*/
  overflow:hidden;  /*Fit image in cell*/
  border:1px solid black;
  text-align:center;
  background:white;
}

div.option:hover
{
  cursor:pointer;
}


/*Content in each of the three rectangles*/
h4
{
  text-align:center;
}

div.option img
{
  width:100%;
  height:auto;
}
