body
{
  /*So it takes up the whole page*/
  padding:0;
  margin:0;
}

/*Header Things*/
header
{
  /*border-bottom:1px solid black;*/
  overflow:hidden; /*So it takes up space and is visible*/
  background-color:darkorange;
  /*height:70px;*/
}

a
{
  color:black;
  text-decoration:none;
}

a:hover
{
  background-color:skyblue;
}

#home
{
  /*HACK&/*/
  font-size:30pt;
  padding: 13px 0 13px 13px;
}

#user_info
{
  padding:13px 20px 13px 0;
}

#profile_pic
{
  //object-fit:contain;
  width:50px;
  height:50px;
  padding-right:7px;
}

/*Navigation Things*/
ul
{
  list-style:none;
  margin:0;
  height:37px;
  background-color:darkred;
  /*overflow:hidden;*/
}

.nav
{
  margin:0;
  color:lightgrey;
}

a.nav
{
  padding:9px 6px 9px 6px;
  font-size:13pt;
}

a.nav:hover
{
  background-color:grey;
}

li.nav
{
  background-color:#670909;
  height:37px;
}

/* Four Buttons in the Middle */
/*#buttons
{
  height:75%;
}

section
{
  text-align:center;
  height:15%;
  margin:5% 0;
}

section a
{
  color:white;
  padding:1% 2%;
  font-size:15pt;
  border:1px solid black;
  border-radius:15px;
}

#tutorial
{
  background-color:#5cb85c;
}

#challenges
{
  background-color:#337ab7;
  margin-left:35%;
}

#scoreboard
{
  background-color:#5bc0de;
}

#password
{
  color:black;
}*/

/*
div#body
{
  margin-top:5%;
}

table
{
  margin:auto;
  border-collapse:collapse;
}

th
{
  border:1px solid black;
  border-bottom:none;
  margin:0 auto;
}

td
{
  width:30%;
  height:100%;
  border:1px solid black;
  border-top:none;
  margin:0 auto;
}

table img
{
  /*Resize image
  width:auto;
  height:330px;
  /*Center the Image
  margin:auto;
  display:block;
}

/*Stuff for the reset password button
p
{
  margin-top:5%;
}

a#password
{
  /*Centering button
  display:block;
  text-align:center;
  margin:0 auto;
  margin-top:10%;
  /*Display options
  padding:0 2%;
  width:10%;
  font-size:15pt;
  border:1px solid black;
  border-radius:15px;
}

footer
{
  text-align:center;
  width:100%;
  /*Stick footer to the bottom of the page
  bottom:0;
  position:absolute;
}
*/

div#body
{
  width:100%;
  margin:5% auto 0 auto;
}

div#container
{
  margin:auto; /*Center entire container with all three*/
  /*Make sure container*/
  width:72%;
  height:65%;
}

div div div
{
  /*Each individual option*/
  width:20%;
  margin-left:10%;  /*pad left and center all three*/
  overflow:hidden;  /*Fit image in cell*/
  border:1px solid black;
  text-align:center;
}

div div div:hover
{
  cursor:pointer;
}

h4
{
  text-align:center;
}

div div img
{
  height:60%;
  width:auto;
}

p a
{
  display:block;
  margin:0 auto;
  text-align:center;
  width:10%;
  font-size:1em;
  padding:1% 2%;
  color:lightblue;
  background-color:#7684a7;
  border:1px solid black;
  border-radius:15px;
}

footer
{
  text-align:center;
  width:100%;
  /*Stick footer to the bottom of the page*/
  bottom:0;
  position:absolute;
}
