@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    /*For IE*/
  /*makes the div with id #new_over have a specified width and blackground color*/
  div#new_over
  {
    min-width:100px;
    max-width:1000px;
    background-color:black;
  }
  /*the overlay div that shows a preview of the code uploaded*/
  #overlay {
    display:none;
    position:fixed;
    top:0;
    margin:auto;
    max-width:2000px;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    width: 100%;
    height: 100%;
  }
  /*makes the preview code shown from the uploaded code in the tutorials look good*/
  #preview_look_good {
    /*css for the preview*/
    background-color: rgba(255,255,255,1); /* Black background with opacity */
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    max-height:1000px;
  }
  /*makes the title of preview over the preview iframe look like a large bright title of "PREVIEW"*/
  #para_preview {
    /*css for para_preview*/
    width: 100%;
    height: 10%;
    margin: 0;
    text-align: center;
    font-size: 3.0em;
    padding-top: 2%;
    font-weight: bold;
    text-decoration: underline;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  /*For Chrome*/
  /*the overlay div that shows a preview of the code uploaded*/
  #overlay {
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    width: 100%;
    height: 100%;
  }
  /*makes the preview code shown from the uploaded code in the tutorials look good*/
  #preview_look_good {
    /*css for the preview*/
    background-color: rgba(255,255,255,1); /* Black background with opacity */
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
  }
  /*makes the title of preview over the preview iframe look like a large bright title of "PREVIEW"*/
  #para_preview {
    /*css for para_preview*/
    width: 100%;
    height: 10%;
    margin: 0;
    text-align: center;
    font-size: 3.0em;
    padding-top: 2%;
    font-weight: bold;
    text-decoration: underline;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    /*For IE*/
  /*makes the title submission div hidden*/
  #overlay2 {
    display:none;
  }
  /*formats the title submission inner frame*/
  #preview_look_good2 {
    /*css for the title*/
    background-color: rgba(255,255,255,0.9); /* Black background with opacity */
    min-height:100px;
    height: 40%;
    /*text-align: center;*/
    white-space: nowrap;
    /*To vertial align the inner div tag*/
    overflow:hidden;
  }
  /*Inner div for overlay2 used to center the label and input tag*/
  #inner
  {
    margin:auto;
    margin-top:20px;
    min-width:150px;
    max-width:650px;
  }
  /*makes the title paragraph id text bold and big*/
  #title_para {

    font-weight: bolder;
    font-size: 2.5em;
  }
  /*formats the final_title id*/
  #final_title {
    float:left;
    clear:none;
    margin-left:10px;
    height: 40px;
    font-size:2.2em;
  }
  /*formats the iframes that are previewed when clicked upon*/
  .display_frame {
    /*css for display_frame*/
    width: 60%;
    min-height: 125px;
    display: inline-flex;
    flex-direction: column;
    word-wrap: break-word;
    padding: 10px;
    border: 10px solid black;
    margin: 10px;
    background-color: white;
    box-sizing:border-box;
    overflow:hidden;
    height:auto;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  /*For Chrome*/
  /*the div to contain the title submission overlay*/
  #overlay2 {
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    width: 100%;
    height: 100%;
  }
  /*formats an inner div of the title submission*/
  #preview_look_good2 {
    /*css for the title*/
    background-color: rgba(255,255,255,0.9); /* Black background with opacity */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    min-height:300px;
    height: 40%;
    text-align: center;
    white-space: nowrap;
    /*To vertial align the inner div tag*/
    overflow:hidden;
  }
  /*Inner div for overlay2 used to center the label and input tag*/
  #inner
  {
    margin:auto;
    margin-top:20px;
    min-width:150px;
    max-width:650px;
    overflow:hidden;
  }
  /*makes the title paragraph id text bold and big*/
  #title_para {

    font-weight: bolder;
    font-size: 5em;
  }
  /*formats the final_title id*/
  #final_title {

    height: 75px;
    font-size:3em;
  }
  /*formats the iframes that are previewed when clicked upon*/
  .display_frame {
    /*css for display_frame*/
    width: 60%;
    min-height: 50px;
    display: inline-flex;
    flex-direction: column;
    word-wrap: break-word;
    padding: 10px;
    border: 10px solid black;
    margin: 10px;
    background-color: white;
  }
}
/*makes the color of the html text red*/
html
{
  color: #e21f1f;
}
/*formats input elements that are texts*/
input[type = "text"]{
  /*some css for the text input*/
  height: 20px;
  border-radius: 0%;
}
/*formats the select element to have a slightly larger text and to have a arge enough size*/
select {
  width: 40px;
  height: 24px;
  font-size: 1.2em;
  background-color: black;
  color: red;
}
/*makes the title class that ensures any text in the element is conspicuous*/
.title
{
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
  background-image: linear-gradient(black,#3E3939,black);
  padding-right: 5px;
  padding-left: 5px;
  border-width: 30px;
  border-radius: 5%;
  margin-top: 10px;
}
/*makes the buttons of this class have a certain style*/
.button_choice
{
  /*css for button choice*/
  display: inline-block;
  border-radius: 50px 50px 0px 0px;
  width: 15%;
  min-width: 130px;
  height: 40px;
  font-size: 1.4em;
  color: lightgrey;
  border-top: 2px solid #971100;
  border-right: 2px solid #FA2E14;
  border-bottom: 2px solid #FA2E14;
  border-left: 2px solid #971100;
  background-image: linear-gradient(#550606,#8B0B0B,#C90F0F,#8B0B0B,#550606);
}
/*makes an answer class that makes a red gradient background for certain buttons to stand out*/
.answer {
  /*css for answer*/
  display: inline-block;
  width: 15%;
  padding: 0;
  min-width: 130px;
  height: 30px;
  color: lightgrey;
  border-width: 0px;
  background-image: linear-gradient(#550606,#8B0B0B,#C90F0F,#8B0B0B,#550606);
  border-radius: 5px;
}
/*makes a delete class that makes a red gradient background for certain elements to stand out but 
with a different sizing than the answer class*/
.delete {
  /*css for delete*/
  display: inline-block;
  width: 60px;
  padding: 0;
  height: 30px;
  color: lightgrey;
  border-width: 0px;
  background-image: linear-gradient(#550606,#8B0B0B,#C90F0F,#8B0B0B,#550606);
  border-radius: 5px;
}
/*when the click class is active show the user the element is active*/
.click:active {
  /*css for active click objects*/
  background-image: linear-gradient(#BB0303,#650404,#2E0303,#650404,#BB0303);
  color: white;
}
/*makes the buttons with this class have an inversion of color when hovered over*/
.button_choice:hover 
{
  /*css for hovering over any button_choice elements*/
  border-top: 2px solid #FA2E14;
  border-right: 2px solid #971100;
  border-bottom: 2px solid #971100;
  border-left: 2px solid #FA2E14;
  background-image: linear-gradient(#BB0303,#650404,#2E0303,#650404,#BB0303);
  color: white;
}
/*generic class to make elements bold*/
.bold {
    font-weight: bold;
}
/*generic class to make elements italic*/
.italic{
    font-style: italic;
}
/*generic class to make elements underlined*/
.underline{
    text-decoration: underline;
}
/*makes elements red*/
.color{
    color: red;
}
.tab {
  /*generic tabbing*/
  margin-left: 20px;
  display: block;
}
/*formats specific divs within other divs*/
.in_div {
  flex: 1;
  padding:5%;
  width:95%;
  height:95%;
  margin-left: 2%;
  margin-right: 2%;
  margin: 0;
}
/*adds margin to the top of certain elements to space them out*/
.space_top {
  margin-top: 20px;
}
/*sets certain elements to a certain distance from their nearest left element*/
.set_left {
  /*throw stuff to the left*/
  margin-left: 20%;
  text-align: left;
}
/*generic class to make text that is general information for the admin look more like the themee of the website*/
.info {
  /*css for info objects*/
  background-color: black;
  font-weight: bold;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}
/*makes those of the info class be a different style from the rest of the website, since it has a bright background and dark text
allows for some php messages of mistakes by the admin easier to see*/
.alertz {
  background-color: white;
  color: black;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}
/*formats the number class elements*/
.number {
  display: inline-block;
  background-color: black;
  font-weight: bold;
  font-size: 1.2em;
  padding: 3px;
}
/*css for parental class elements*/
.parental {
  display: inline-block;
  width:30%; 
}
/*hides the iframes within each of the uploaded documents displayed to the admin*/
.small_frame {
  display: none;
}
/*formats the input types of the multiple choice question maker*/
.multi_input {
  /*css for multiple inputs*/
  min-width: 160px;
  width: 44%;
}
/*css for addForm*/
#addForm
{
  background-color:rgba(255, 255, 255, 0.7);;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
/*sets height for tutorial id*/
#tutorial
{
  height: 20px;
}
/*styles the question input type*/
#question_input
{
  /*css for question input*/
  height: 20px;
  border-radius: 0%;
  min-width: 160px;
  width: 50%;
}
/*formats the short answer input*/
#answer_input_short {
  /*css for short answers*/
  min-width: 120px;
  width: 52%;
}
/*css for buttonz id*/
#buttonz
{
  display: block;
  margin-top: 50px;
}
/*css for the submissionn of the tutorials button*/
#save
{
  /*css for saving the tutorial*/
  width:200px;
  height: 100%;
  display: inline-block;
  color: lightgrey;
  border-top: 2px solid #971100;
  border-right: 2px solid #FA2E14;
  border-bottom: 2px solid #FA2E14;
  border-left: 2px solid #971100;
  background-image: linear-gradient(#550606,#8B0B0B,#C90F0F,#8B0B0B,#550606);
  font-size: 3em;
  border-radius: 30%;
}
/*formats the submission of the entire tutorial button when in active event*/
#save:active
{
  /*css for when save is active*/
  padding-left: 10px;
  padding-right: 10px;
  border-top: 2px solid #FA2E14;
  border-right: 2px solid #971100;
  border-bottom: 2px solid #971100;
  border-left: 2px solid #FA2E14;
  background-image: linear-gradient(#BB0303,#650404,#2E0303,#650404,#BB0303);
  color: white;
}
/*css for tutorial creation id*/
#tutorial_creator
{
  min-height: 260px;
  border: thick double black;
  margin-bottom: 30px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0;
  margin-top: 0px;
}
/*css for a generic spacer at the bottom of the element*/
#spacer {
  margin-bottom: 70px;
}
/*css for the tutorial page id*/
#tutorial_page
{
  min-width: 80%;
  min-height: 10px;;
  max-width: 95%;
  color: black;  
}
/*adds extra padding to the bottom of the webpage to counter div format*/
#padding_extra
{
  margin-bottom: 100px;
  height: 5px;
}
/*css for bbutton*/
#bbutton
{
  border-style: outset;
}
/*css for when edit_tutorial_text id*/
#edit_tutorial_text
{
  min-width: 80%;
  min-height: 50%;
  max-width: 95%;
  color: black;
  min-height: 50%;
  max-height: 60%;
  height: 400px;
}
 /*css for a specific outer div*/
#outer_div
{
  /*css for outer div*/
  background-color: white;
  min-height: 500px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*justify content*/
#content
{
  text-align: justify;
}
/*css to style the output that shows the admin what their question looks like and acts like*/
#outputter {
  /*css for output*/
  word-wrap: break-word;
  color: black;
  text-align: left;
  display: block;
  margin-left:5%;
  margin-right: 5%;
  
}
/*css for outer div id*/
#out_div {
  margin-top: 20px;
  background-color:rgba(255, 255, 255, 0.8);
  display: block;
  border: thick double black;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 40px;
  text-align: left;
  margin-bottom: 10px;
}
/*css for put_div id*/
#put_div {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}
/*styles the file submission text*/
#file {
  font-weight: bolder;
  font-size: 1.1em
}
/*css for final words id*/
#final_words {
  /*css for final words*/
  background-color: none;
  font-weight: bold;
  color: black;
  width: 500px;
  height: 100%;
  text-align: center;
  font-size: 1.3em;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}
/*css for tutor_out id*/
#tutor_out {
  min-height: 200px;
  border: thick double black;
  margin-bottom: 30px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0;
  margin-top: 0px;
}
/*css for showing the short answer*/
#showanswer {
  display: none;
  width: 100%;
  min-height: 20px;
}
/*css for showing the multiple choice answer*/
#showanswer1 {
  display: none;
  width: 100%;
  min-height: 20px;
}
/*padding for create_ques id*/
#create_ques {
  /*padding when creating questions*/
  padding-top: 5px;
  padding-bottom: 20px;
}
/*css for submitting questions*/
#ques_submit {
  display: block;
  margin-left: auto; 
  margin-right: 5%;
  width: 180px;
  height: 50px;
  border-radius: 5px;
}
/*css for the answer text to be shown to the admin when demoing their own question*/
#answer_text {
  margin-bottom:  0;
  display: block;
  margin-left: 13%;
  text-align: center;
  width: 115px;
}
/*css for title_name id*/
#title_name
{
  background-color:rgba(128, 128, 128, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-top: 3%;
  width: 88%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: right;
  display: table;
}