.buttoff{
	background-image: radial-gradient(red, darkred 75%, black);
	font-weight: bold;
	color: white;
}

#code{
	width: 60%;
	height: 400px;
	max-height: 80%;
	background-color: white;
	margin-left: 20%;
	margin-right: 20%;
	overflow: auto;
}

#return{
	margin-left: 47.5%;
	font-weight: bold;
	background-image: linear-gradient(to right bottom, silver 70%, red);
}
#logo{
	cursor: pointer;
}
