div#body
{
  width:100%;
  margin-top:2%;
}
table
{
  background-color:lightgrey;
  border:1px solid darkred;
  border-collapse:collapse;
  margin:auto;
}
th
{
  border:1px solid darkred;
}
td
{
  border-right:1px solid darkred;
  min-width:400px;
}
tr
{
  text-align:center;
}

div#placer
{
  background-color:white;
  min-width:500px;
  max-width:501px;
  margin:auto;
  text-align:center;
  min-height:200px;
}
h3
{
  padding-top:15px;
  font-size:2.5em;
  color:red;
}
