body {
    /*make the body background color black*/
    background-color: black;
}

h2, h3 {
    /*make both h2 and h3's text red*/
    color: red;
}
#content {
    background-color: #ffffff;
    opacity: 0.8;
    color: black;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}
#title {
    color: red;
    text-align: center;
}
