body {
    background-color: black;
}
#content {
    background-color: #ffffff;
    opacity: 0.8;
    color: black;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}
#title {
    color: red;
    text-align: center;
}
h2, h3 {
    color: red;
}

#photolist {
    margin: 20px;
}

#photolist ul {
    list-style-type: none;
    width: 500px;
}

#photolist li img{
    float: left;
    margin: 0 15px 0 0;
    width: 150px;
}

#photolist li {
    padding: 10px;
    overflow: auto;
}

#photolist li:hover {
    background: #eee;
}
#photolist h3, p {
    margin-top: 0px;
}