html
{
  color: #e21f1f;
}
form 
{
  background-color:rgba(255, 255, 255, 0.7);
  margin-left: 10%;
  margin-right: 10%;
}
#title_name
{
  padding-top: 20px;
}
.title
{
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
  background-image: linear-gradient(black,#3E3939,black);
  padding-right: 5px;
  padding-left: 5px;
  border-width: 30px;
  border-radius: 5%;
  margin-top: 10px;
}
#addForm
{
  margin-top: 50px;
  text-align: center;
  padding-bottom: 100px;
}
input[type = "text"]{
  height: 20px;
  border-radius: 0%;
}
#question_input
{
  height: 20px;
  border-radius: 0%;
  min-width: 160px;
  width: 50%;
}

.multi_input {
  min-width: 160px;
  width: 44%;
}
select {
  width: 40px;
  height: 24px;
  font-size: 1.2em;
  background-color: black;
  color: red;
}
#buttonz
{
  display: block;
  margin-top: 50px;
}
#save
{
  color: lightgrey;
  border-top: 2px solid #971100;
  border-right: 2px solid #FA2E14;
  border-bottom: 2px solid #FA2E14;
  border-left: 2px solid #971100;
  background-color: red;
}
#save:active 
{
  border-top: 2px solid #FA2E14;
  border-right: 2px solid #971100;
  border-bottom: 2px solid #971100;
  border-left: 2px solid #FA2E14;
  background-color: darkred;
  color: white;
}
.answer {
  display: inline-block;
  width: 15%;
  padding: 0;
  min-width: 130px;
  height: 30px;
  color: lightgrey;
  border-width: 0px;
  background-image: linear-gradient(#550606,#8B0B0B,#C90F0F,#8B0B0B,#550606);
}
#spacer {
  margin-bottom: 70px;
}
#padding_extra
{
  margin-bottom: 100px;
  height: 5px;
}
#bbutton
{
  border-style: outset;
}
#edit_tutorial_text
{
  min-width: 80%;
  min-height: 50%;
  max-width: 95%;
  color: black;
  min-height: 50%;
  max-height: 60%;
  height: 400px;
}
#outer_div
{
  background-color: white;
  min-height: 500px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#content
{
  text-align: justify;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.color{
    color: red;
}

output 
{
  max-width: 50%;
  text-align: left;
}

#outputter {
  word-wrap: break-word;
  color: black;
}

#out_div {
  margin-top: 20px;
  background-color:rgba(255, 255, 255, 0.8);
  display: block;
  border: thick double black;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 40px;
  text-align: left;
  margin-bottom: 10px;
}

#put_div {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

.tab {
  margin-left: 20px;
  display: block;
}
.space_top {
  margin-top: 20px;
}

.set_left {
  margin-left: 20%;
  text-align: left;
}

.display_frame {
  width: 400px;
  height: 70px;
  padding: 10px;
  border: 10px solid black;
}