@media only screen and (max-width: 805px){
	.about{
		/*when the screen is too narrow, make the about link disappear*/
		display: none;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  /*For internet explorer*/
  h1
  {
    color:red;
  }
}

body {
	background-image: url("../general/tree.jpg"); 
	background-size: 100% 100%;
	background-attachment: fixed;
	font-size: .9em;
	font-family: Arial,Helvetica Neue,Helvetica,serif;
}

h1 {
	padding-top: 20px;
	font-weight: strong;
	font-style: italic;
	text-align: center;
	font-size: 4.5em;
	background: -webkit-linear-gradient(white, red);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

h2 {
	text-align: left;
	font-weight: normal;
	font-size: 1em;
}

form {
	background-color: white;
	border-radius: 5px;
	border:1px solid black;
	padding:5px;
	display: inline-block;
	width: 650px;
	font-size: 1.8em;
}

fieldset {
  border-style:none;
}

a:link{
	color: red;
}
a:visited{
	color: white;
}


.signin {
	color: red;
	padding-left: 28.6%;
	font-size: 1.65em;
}
.noaccount {
	padding-left: 28.6%;
	font-size: 1.5em;
	font-weight: strong;
	color: white;
}
.about {
	position: absolute;
    bottom: 0;
	text-align: left;
	font-size: 1.5em;
	font-weight: strong;
}

.info
{
  color:red;
}

#submit
{
  float:left;
  margin-left: 20px;
  margin-right:50px;
  margin-bottom:10px;
}

#container
{
  min-width:650px;
  max-width:651px;
  margin:auto;
}

#password{
	margin-left: 5px;
}

