body {
	background-color: #ffffc0;
}

h1 {
	padding-top: 20px;
	font-weight: strong;
	font-style: italic;
	text-align: center;
	font-size: 4.5em;
	background: -webkit-linear-gradient(white, red);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

h2 {
	text-align: left;
	font-weight: normal;
	font-size: 1em;
}

form {

	padding-left: 35%;
	display: inline-block;
	width: 60%;
	font-size: 1.8em;
}

input {
	
}

.signin {
	padding-left: 35%;
	font-size: 1.65em;
}
.noaccount {
	padding-left: 35%;
	font-size: 1.5em;
	font-weight: strong;
}
.about {
	position: absolute;
    bottom: 0;
	text-align: left;
	font-size: 1.5em;
	font-weight: strong;
}

table {
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	width: 50%;
	padding-bottom: 5px;
}